$mobile-max-breakpoint: 767px;

$tablet-min-breakpoint: 768px;
$tablet-max-breakpoint: 1023px;

$tablet-large-min-breakpoint: 1024px;
$tablet-large-max-breakpoint: 1151px;

$desktop-min-breakpoint: 1152px;
$desktop-max-breakpoint: 1439px;

$desktop-large-min-breakpoint: 1440px;
$desktop-large-max-breakpoint: 1919px;

$desktop-superlarge-min-breakpoint: 1920px;
