.wrapper {
  padding-bottom: 100px;
  margin-top: -30px;
}

.container {
  display: flex;
  align-items: center;
}

.imageWrapper {
  padding-left: 45px;
  margin-right: 20px;
}

.body {
  max-width: 570px;
}

.title {
  margin-bottom: 20px;
}

.head {
  margin-bottom: 20px;
}

.text {
  max-width: 556px;
}
